.taskChipContainer {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  outline: none;
  transition: border-color 200ms ease-out;
}

@media (hover) {
  .taskChipContainer:hover {
    border-color: #222;
  }
}

.taskChipContainer:active {
  background-color: var(--white-active);
}

.taskNameButton {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  flex: 1;
  font-size: 1rem;
  margin: 0;
  outline: none;
  padding: 0.5rem 0.7rem;
  text-align: left;
  transition: 0.3s ease all;
  width: 100%;
}
