.taskChipContainer {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-light);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border: none;
  outline: none;
  transition: 0.15s ease-in-out box-shadow, 0.15s ease-in-out background-color;
}

@media (hover) {
  .taskChipContainer:hover {
    box-shadow: 0 0.188rem 1.25rem 0.125rem rgb(64 62 67 / 12%);
  }
}

.taskChipContainer:active {
  background-color: var(--white-active);
}

.taskNameButton {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  flex: 1;
  font-size: 1rem;
  margin: 0;
  outline: none;
  padding: 0.5rem 0.7rem;
  text-align: left;
  transition: 0.3s ease all;
  width: 100%;
}
