.nestedLink {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 0.95rem;
  text-decoration: none;
}

@media (hover) {
  .nestedLink:hover {
    filter: brightness(1.1);
  }
}
