.no_tasks_container {
  width: 55%;
  margin: 0 auto;
}

.no_tasks_text {
  margin: 2rem 0 6rem 0;
  text-align: center;
}

.no_tasks_image {
  width: 100%;
}

.pick_project_container {
  width: 55%;
  padding: 2.2rem;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .no_tasks_container {
    width: 90%;
  }

  .pick_project_container {
    width: 100%;
    margin: 0 auto;
  }
}
