.primaryButton {
  align-items: center;
  background: linear-gradient(45deg, #1da0f2, lightgreen);
  border-radius: 0.5rem;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: center;
  outline: none;
  padding: 0.6rem 1.5rem;
  transition: 0.3s ease filter;
  width: 100%;
}

.primaryButton:disabled {
  filter: contrast(0.5);
  cursor: progress;
}

@media (hover) {
  .primaryButton:hover:enabled {
    filter: brightness(1.1);
  }
}
