.taskChipContainer {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow-light);
  background: var(--loading-background);
  background-size: var(--loading-background-size);
  animation: pulse 3s linear infinite;
}

@keyframes pulse {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -135% 0;
  }
}

@media (max-width: 768px) {
  .taskChipContainer {
    height: 5.5rem;
  }
}
