.projectChipContainer {
  padding: 1rem;
  display: flex;
  border: none;
  outline: none;
  cursor: pointer;
  align-items: center;
  transition: border-color 200ms ease-out;
  border-radius: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}

.menuButton {
  box-sizing: initial;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  transition: 0.3s ease background-color;
  border-radius: 100rem;
  padding: 0;
  margin: 0;
  padding: 0.3rem;
}

.moreIcon {
  width: 1.125rem;
  height: 1.125rem;
  stroke: var(--text-tertiary-color);
}

.chipWrapper {
  display: flex;
  flex-direction: column;
}

.chipHeading {
  display: grid;
  place-items: center start;
  grid-template-columns: auto 1fr;
}

.projectColor {
  border-radius: 25%;
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
}

.projectNameContainer {
  display: inline-block;
  padding: 0 0 0 1rem;
}

.charName {
  font-size: bold;
  color: var(--white);
  font-size: 1rem;
} /* 

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    transform-origin: 100% 0;
  }
} */

@media (hover) {
  .projectChipContainer:hover {
    border-color: #222;
  }

  .menuButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
