:root {
  --white: #eee;
  --light-gray: #d6d6d6;
  --medium-gray: #2f3848;
  --dark-gray: #1a202d;
  --black: #222;
  --main: #1da0f2;
  --main-light: hsl(203, 89%, 78%);
  --success: #4bb543;
  --success-light: hsl(116, 46%, 69%);
  --warning: #d64550;
  --warning-light: hsl(355, 64%, 70%);
  --text-color: #222;
  --text-secondary-color: #333;
  --text-tertiary-color: #777;
  --opacity-light: rgba(0, 0, 0, 0.1);
  --opacity-strong: rgba(0, 0, 0, 0.6);
  --shadow-light: 0 0.188rem 1.25rem 0.125rem rgb(64 62 67 / 8%);
  --shadow: 0 0.188rem 1.25rem 0.125rem rgb(64 62 67 / 16%);
  --active-shadow: 0 0.188rem 1.25rem 0.125rem rgb(64 62 67 / 22%);
  --loading-background: linear-gradient(-90deg, #e8e8e8 0%, #f8f8f8 50%, #e8e8e8 100%);
  --loading-background-size: 400% 400%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: inherit;
  height: 100vh;
}

body {
  all: unset;
  height: 100vh;
  background-color: var(--white);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

#root {
  height: 100vh;
}

a {
  text-decoration: none;
}
