.listContainer {
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  animation: fade 0.3s ease forwards;
  opacity: 0;
  box-sizing: border-box;
  margin: 2rem 0;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.tasksList {
  width: 100%;
  margin: 0;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  min-height: 0;
  overflow-y: auto;
  box-sizing: border-box;
  max-height: 75vh;
}
