.inputWrapper {
  width: 100%;
  padding: 0.6rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.inputContainer {
  position: relative;
  padding: 0 1.3rem 0 0;
  margin: 0 0 0 0.3rem;
  width: 100%;
}

.icon {
  width: 1.125rem;
  height: 1.125rem;
  stroke: var(--text-secondary-color);
  margin-right: 0.5rem;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: var(--white);
}

.input:placeholder {
  color: var(--text-secondary-color);
}
