.menuList {
  display: grid;
  place-items: stretch start;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 0.3rem;
  top: 2rem;
  right: 1rem;
  z-index: 1;
  box-shadow: var(--active-shadow);
  transition: 0.1s ease transform;
}

.menuItem {
  width: 100%;
}

.menuButton {
  font-size: 1rem;
  color: var(--text-color);
  border-radius: 0.3rem;
  width: 100%;
  text-align: left;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  transition: 0.15s ease background-color;
  background-color: rgba(0, 0, 0, 0.03);
  border: none;
  outline: none;
  cursor: pointer;
}

.removeMenuButton {
  color: var(--warning);
}

.menuListEnter {
  transform: scale(0);
}

.menuListEnterActive {
  transform: scale(1);
  transform-origin: 100% 0;
}

.menuListExitActive {
  transform-origin: 100% 0;
  transform: scale(0);
}

@media (hover) {
  .menuButton:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
}
