.secondaryButton {
  align-items: center;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--text-tertiary-color);
  color: var(--text-secondary-color);
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: center;
  outline: none;
  padding: 0.6rem 1.5rem;
  transition: 0.3s ease filter;
  width: 100%;
}

@media (hover) {
  .primaryButton:hover {
    filter: brightness(1.1);
  }
}
