.simpleLink {
  display: flex;
  align-items: center;
  color: var(--text-secondary-color);
  font-size: 0.95rem;
  text-decoration: none;
  cursor: pointer;
}

@media (hover) {
  .simpleLink:hover {
    filter: brightness(1.1);
  }
}
